/* colour code references
(RGB)

overall background off-white
background: rgb(240, 240, 240);

accent gray
color: rgb(200, 200, 200);

*/

body {

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: rgb(240, 240, 240);
}

textarea{

  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  font-family: 'Oswald', sans-serif;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour-text{
  padding-top: 20px;
  font-size: xx-large;
  font-family: 'Oswald', sans-serif;
}

.hour {
  color: #000000;
}

.past {
  background-color: rgb(230, 230, 230);
  color: white;
}

.present {
  background-color: rgb(245, 245, 245);
  color: white;
}

.future {
  background-color: rgb(245, 245, 245);
  color: white;
}

.saveBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: transparent;
  color: rgb(200, 200, 200);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
